body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.hero-dark-background {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
    font-size: 18px;
}
.header-logo {
    font-size: 25px;
    font-weight: bold;
}
.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header-links a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.hero-paragraph {
    align-self: center;
    margin-right: 20px;
}
h1 {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}
.hero-paragraph-text {
    color: #e5e7e8;
}
.sign-up-button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}