.container {
    display: flex;
    justify-content: center;  
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
}

li {
    list-style: none;
}
.navbar {
    gap: 12px;
}


.hero-left{
    text-align: left;
    max-width: 375px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    color: #e5e7eb;
    gap: 12px;
}

.links {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}

/*.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}
.hero-sign-up-button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}
.hero-subtext {
    color: #e5e7e8;
    align-self: center;
    margin-right: 20px;
}

.placeholder {
    padding: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: grey;
}
 
.blue-box { */
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 150px;
    height: 100px;
    display: flex;
}

figure {
    margin: 20px;
    text-align: center;
}
figcaption {
    text-align: center;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.grey-background {
    background-color: #e5e7eb;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 700px;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
}
.thor {
    margin-left: 550px;
    font-weight: bold;
}

.light-background {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.light-background-container {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7oopx;
    height: 90px;
    border-radius: 7px;
}

.container-text {
    margin-right: 50px;
    width: 500px;
    color: white;
    font-size: 18px;
    margin-bottom: 0;
}

.container-text p {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 5px;
    font-size: 15px;

}

.container-sign-up-button {
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 25px;
    text-decoration: none;
}
.dark-background {
    background-color: #1f2937;
    text-align: center;
} */