* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}

.first-section {
    background-color: #1f2937;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;

}
.header-links {
    margin: 50px;
    padding: 50px;
    font-size: 18px;
    color: #e5e7e8;
}

.p-first {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: #1f2937;
}
.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 150px;
    justify-content: center;
}

.sign-up-first-section {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px #3882f6;
    border-radius: 3px;
}

.placeholder {
    background-color: grey;
    max-height: 200px;
    margin-left: 44px;
    padding: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 75px;
    margin-bottom: 50px;
    width: 200px;
}
/*section2*/
.section-two {
    display: flex;
    flex-direction: column;
    padding: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.blue-box { 
    border: 5px solid #3882f6;
    border-radius: 15px;
    width: 200px;
    height: 150px;
    padding: 30px;
    margin: 15px;
    display: flex;
}
.p-second {
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color: #1f2937;
}
#p-div {
    display: flex;
    justify-content: ;
}

.random-info {
    margin: 100px;
    padding: 100px;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}
.row-of-blue-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-items: center;
}
/*section-three*/
.section-three {
    background-color: #e5e7eb;
    color: #1f2937;
    height: 300px;
    display: flex;
    padding: 75px;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}
.p-third {
    font-size: 18px;
    text-align: end;
    margin-right: 150px;
}
/*section-four*/
.section-four {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.blue-container {
    background-color: #3882f6;
    width: 7o%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

h4 {
    margin-right: 100px;
    width: 500px;
    color: white;
    font-size: 24px;
}

.left-text {
    width: 50%;
    margin-left: 50px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-p {
    color: white;
    font-size: 18px;
}

.container-sign-up-button {
    color: white;
    background-color: #3882f6;
    border: 3px solid white;
    border-radius: 10px;
    width: 75px;
    height: 40px;
}
/*footer*/
.dark-background {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
} 