body{
    display: flex;
    flex-direction: column;
    margin: 2px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.dark-background {
    background-color: darkblue;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 18px;
}
.header-logo {
    height: 25px;
    width: auto;
}
.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}
.header-links a {
    color: white;
    text-decoration: none;
    ;
}
.hero-paragraph {
    display: flex;
    justify-content: center;
    margin: 75px;
    margin-left: 150px;
    margin-right: 200px;
    align-self: center;
    max-resolution: 20px;
    color: white;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
    padding: 0;
    margin: 0;
}
.hero-paragraph-text {
    color: white;
}